.product-card {
  max-width: 600px;
  margin: 5px;
}

.product-card-content {
  margin-top: 20px;
}

.product-card-actions {
  margin-bottom: 0;
  padding-top: 20px;
}

.product-header-image {
  background-image: url('../../../../assets/img/cubes.svg');
  background-size: cover;
}
