.login-card {
  max-width: 600px;
  margin: 5px;
}

.login-card-content {
  margin-top: 20px;
}

.login-card-actions {
  margin-bottom: 0;
  padding-top: 20px;
}

.login-header-image {
  background-image: url('../../../../assets/img/login.svg');
  background-size: cover;
}
