.device-card {
  max-width: 600px;
  margin: 5px;
}

.device-card-content {
  margin-top: 10px;
}

.device-header-image {
  background-image: url('../../../../assets/img/cpu.svg');
  background-size: cover;
}

.device-public-key {
  word-break: break-all;
}
