.user-card {
  max-width: 600px;
  margin: 5px;
}

.user-card-content {
  margin-top: 20px;
}

.user-card-actions {
  margin-bottom: 0;
  padding-top: 20px;
}

.user-header-image {
  background-image: url('../../../../assets/img/user.svg');
  background-size: cover;
}
