<mat-card class="broker-card">
  <mat-card-header>
    <div mat-card-avatar class="broker-header-image"></div>
    <mat-card-title>{{ detail.name }}</mat-card-title>
    <mat-card-subtitle>{{ detail.addr }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="broker-card-content">
    <div fxLayout="column" fxLayoutGap="10px">
      <h2 class="mat-h2">User:</h2>
      <div>{{ detail.user }}</div>
      <h2 class="mat-h2">Host Address:</h2>
      <div>{{ detail.hostAddr }}</div>
      <h2 class="mat-h2">Location:</h2>
      <div>{{ locations[detail.location] }}</div>
    </div>
  </mat-card-content>
</mat-card>
