.trade-card {
  max-width: 600px;
  margin: 5px;
}

.trade-card-content {
  margin-top: 10px;
}

.trade-header-image {
  background-image: url('../../../../assets/img/handshake.svg');
  background-size: cover;
}
