.broker-card {
  max-width: 600px;
  margin: 5px;
}

.broker-card-content {
  margin-top: 10px;
}

.broker-header-image {
  background-image: url('../../../../assets/img/bird.svg');
  background-size: cover;
}
